<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "meta.html" . }}

    {{- $css := slice }}
    {{- $css = $css | append (resources.Get "pure.css") }}
    {{- $css = $css | append (resources.Get "grids-responsive.css") }}
    {{- $css = $css | append (resources.Get "main.css") }}
    {{- $css = $css | append (resources.Get "syntax-light.css") }}
    {{- $css = $css | append (resources.Get "syntax-dark.css") }}
    {{- $css = $css | append (resources.Get "overwrite.css") }}
    {{- $css = $css | resources.Concat "bundle.css" }}
    {{- $css = $css | resources.Minify }}
    <link rel="stylesheet" href="{{- $css.RelPermalink -}}">
</head>

<body>

{{- partial "header.html" . }}

<div id="main">
    {{ block "main" . }}{{ end }}
</div>

{{- partial "footer.html" . }}
    
{{- $js := slice }}
{{- $js = $js | append (resources.Get "overwrite.js") }}
{{- $js = $js | resources.Concat "bundle.js" }}
{{- $js = $js | resources.Minify }}
<script src="{{- $js.RelPermalink -}}"></script>

</body>
</html>
