/******************************************************************************/
/* layout */
/******************************************************************************/

:root {
    --max-width: 800px;

    --background-light: #efefef;
    --background-pre-light: #cdcdcd;
    --color-light: #434343;
    --color-secondary-light: #808080;

    --background-dark: #1c1c1c;
    --background-pre-dark: #323232;
    --color-dark: #d0d0d0;
    --color-secondary-dark: #878787;
}

html { overflow-y: scroll; }
body { min-height: 100vh; }
img { width: 100%; }
figure { margin: 0; }
.prevent-default { pointer-events: none; }

pre code {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
.pure-button { border-radius: 0; }

#header {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em 0 0;
}

#header .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
    padding-right: 1em;
}

#header .main-menu .pure-menu-link { font-weight: bold; }

#main,
#footer
{
    max-width: var(--max-width);
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main {
    padding: 2em 1em;
    word-wrap: break-word;
}

#footer { padding: 1em 1em 3em; }

.translation-menu a,
#footer a
{
    text-decoration: none;
}

.corner-indicator {
    display: flex;
    justify-content: space-between;
}
.corner-indicator::before,
.corner-indicator::after
{
    content: "";
    width: 5px;
    border-bottom: 5px solid;
}
.corner-top { margin-bottom: 0.5em; }
.corner-bottom { margin-top: 0.5em; }

.post-list {
    display: flex;
    flex-flow: row wrap;
    row-gap: 1.6em;
    column-gap: 2em;
}
.post-list.double-columns .post-card {
    max-width: 23em;
}
.post-card {
    width: 100%;
    /* padding-bottom: 1em; */
}
.post-card__title {
    margin: 0;
    margin-bottom: 0.8em;
}
div.post-meta { margin-top: 1em; }
a.post-tag:hover { text-decoration: none; }

.poster {
    margin-bottom: 0.8em;
}
.poster img {
    border: 1px solid;
    object-fit: cover;
}

.pagination-wrapper { padding-top: 2em; }

.post-title a { text-decoration: none; }
.post-title a:hover { text-decoration: underline; }
.post-title h1 { margin-top: 0; }
.post-content {
    line-height: 1.6em;
    margin-top: 1em;
}
.post-content a:hover {
    text-decoration: none;
}
.post-content img {
    border: 1px solid;
}

.toc-anchor {
    display: none;
    position: sticky;
    top: 2em;
}

.toc-wrapper {
    position: absolute;
    right: -10em;
}

#TableOfContents ul {
    margin: 0;
    padding: 0;
    width: 8em;
}
#TableOfContents a {
    text-decoration: none;
}
#TableOfContents a:hover {
    text-decoration: underline;
}

@media (min-width: 70em) {
    .toc-anchor { display: block; }
}

@media (max-width: 48em) {
    .corner-indicator { display: none; }
}

@media print {
    .corner-indicator,
    .poster,
    .toc-anchor,
    #header,
    #footer
    { display: none; }
}

/******************************************************************************/
/* light mode colors */
/******************************************************************************/

body {
    background-color: var(--background-light);
    color: var(--color-light);
}
pre { background-color: var(--background-pre-light); }

.pure-menu-link:hover {
    background-color: var(--background-pre-light);
}

.post-card {
    border-color: var(--background-pre-light);
}
.post-title a,
.post-content a
{
    color: var(--color-light);
}

.post-meta,
.post-tag,
.pure-menu-link,
.translation-menu a,
#footer a
{
    color: var(--color-secondary-light);
}

.translation-menu a:hover,
a.post-tag:hover,
#footer a:hover
{
    color: var(--color-light);
}

.poster img,
.post-content img
{
    border-color: var(--background-pre-light);
}
.poster:hover img {
    border-color: var(--color-light);
}

.pagination .pure-button {
    background-color: var(--background-pre-light);
    color: var(--color-light)
}
.pagination .pure-button-active {
    background-color: var(--background-pre-light);
}

@media (min-width: 48em) {
    .post-list {
        border-color: var(--background-pre-light);
    }
}


/******************************************************************************/
/* dark mode colors */
/******************************************************************************/

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: var(--color-dark);
    }
    pre { background-color: var(--background-pre-dark); }

    .pure-menu-selected .pure-menu-link,
    .pure-menu-selected .pure-menu-link:visited
    {
        color: var(--color-dark);
    }
    .pure-menu-link:hover {
        background-color: var(--background-pre-dark);
    }

    .post-card {
        border-color: var(--background-pre-dark);
    }
    .post-title a,
    .post-content a
    {
        color: var(--color-dark);
    }

    .post-meta,
    .post-tag,
    .pure-menu-link,
    .translation-menu a,
    #footer a
    {
        color: var(--color-secondary-dark);
    }

    .translation-menu a:hover,
    a.post-tag:hover,
    #footer a:hover
    {
        color: var(--color-dark);
    }

    .poster img,
    .post-content img
    {
        border-color: var(--background-pre-dark);
    }
    .poster:hover img {
        border-color: var(--color-dark);
    }

    .pagination .pure-button {
        background-color: var(--background-pre-dark);
        color: var(--color-dark)
    }
    .pagination .pure-button-active {
        background-color: var(--color-secondary-dark);
    }

    @media (min-width: 48em) {
        .post-list {
            border-color: var(--background-pre-dark);
        }
    }
}
