/******************************************************************************/
/* layout */
/******************************************************************************/

:root {
    --font-size: 18px;
    --max-content-width: 50em;

    --background-body-light: #ffffff;
    --background-light: #efefef;
    --background-pre-light: #cdcdcd;
    --color-light: #111;
    --color-secondary-light: #606060;

    --background-body-dark: #000000;
    --background-dark: #1c1c1c;
    --background-pre-dark: #323232;
    --color-dark: #eee;
    --color-secondary-dark: #a1a1a1;
}

html {
    overflow-y: scroll;
    font-size: var(--font-size);
}
body { min-height: 100vh; }
img { width: 100%; }
figure { margin: 0; }
.prevent-default { pointer-events: none; }

pre code {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
.pure-button { border-radius: 0; }

#header {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 1em 0;
}

#header .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
    padding-right: 1em;
}

#header .main-menu .pure-menu-link { font-weight: bold; }

#footer {
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 1em 1em 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.translation-menu a,
#footer a
{
    text-decoration: none;
}

#body-wrapper {
    display: flex;
    justify-content: center;
}

#left-wrapper,
#right-wrapper
{
    flex-grow: 1;
    display: none;
    padding-top: 4em;
}

#right-wrapper {
    padding-left: 1em;
    padding-right: 1em;
}

#center-wrapper {
    flex-grow: 99;
    max-width: var(--max-content-width);
}

#main {
    padding: 2em 1em 1em;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.post-list {
    display: flex;
    flex-flow: row wrap;
    row-gap: 1em;
    column-gap: 2em;
}
.post-card {
    width: 100%;
    /* padding-bottom: 1em; */
}
.post-card__title {
    margin: 0;
    margin-bottom: 0.8em;
}
div.post-meta { margin-top: 1em; }
a.post-tag:hover { text-decoration: none; }

.poster {
    margin-bottom: 0.8em;
}
.poster img {
    border: 1px solid;
    object-fit: cover;
}

.pagination-wrapper { padding: 1em 0; }

.post-title a { text-decoration: none; }
.post-title a:hover { text-decoration: underline; }
.post-title h1 {
    margin-top: 0;
    margin-bottom: 0.25em;
}
.post-title h2 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0.25em;
}
.post-content {
    line-height: 1.6em;
    margin-top: 1em;
}
.post-content a:hover {
    text-decoration: none;
}
.post-content img {
    border: 1px solid;
}

#TableOfContents ul {
    padding: 0;
    line-height: 1.3em;
}
#TableOfContents li {
    list-style-type: none;
}
#TableOfContents li ul {
    padding-left: 0.7em;
}

.toc-wrapper {
    display: none;
    position: sticky;
    top: 0;
    max-height: 90vh;
    overflow-y: auto;
}
.toc-wrapper.hide {
    visibility: hidden;
}
.toc-wrapper li ul {
    padding-left: 0.4em;
}
.toc-wrapper a {
    text-decoration: none;
}
.toc-wrapper a:hover {
    text-decoration: underline;
}

.toc-wrapper-page {
    display: none;
}
.toc-wrapper-page a:hover {
    text-decoration: none;
}

@media (min-width: 56em) {
    #left-wrapper, #right-wrapper { display: block; }
    .post-list.double-columns .post-card {
        max-width: 23em;
    }
}

/* small screen */
@media (max-width: 56em) {
    #body-wrapper { flex-direction: column-reverse; }
    .toc-wrapper-page { display: block; }
}

/* large screen */
@media (min-width: 72em) {
    .toc-wrapper { display: block; }
}

@media print {
    .poster,
    .toc-wrapper,
    #header,
    #footer
    { display: none; }
}

/******************************************************************************/
/* light mode colors */
/******************************************************************************/

body {
    background-color: var(--background-body-light);
    color: var(--color-light);
}
#main { background-color: var(--background-light); }
pre { background-color: var(--background-pre-light); }

.pure-menu-link:hover {
    background-color: var(--background-pre-light);
}

.post-card {
    border-color: var(--background-pre-light);
}
.post-title a,
.post-content a,
#TableOfContents a
{
    color: var(--color-light);
}

.post-meta,
.post-tag,
.pure-menu-link,
.translation-menu a,
#footer a
{
    color: var(--color-secondary-light);
}

.translation-menu a:hover,
a.post-tag:hover,
#footer a:hover
{
    color: var(--color-light);
}

.poster img,
.post-content img
{
    border-color: var(--background-pre-light);
}
.poster:hover img {
    border-color: var(--color-light);
}

.pagination .pure-button {
    background-color: var(--background-pre-light);
    color: var(--color-light)
}
.pagination .pure-button-active {
    background-color: var(--background-secondary-light);
}

@media (min-width: 48em) {
    .post-list {
        border-color: var(--background-pre-light);
    }
}


/******************************************************************************/
/* dark mode colors */
/******************************************************************************/

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-body-dark);
        color: var(--color-dark);
    }
    #main { background-color: var(--background-dark); }
    pre { background-color: var(--background-pre-dark); }

    .pure-menu-selected .pure-menu-link,
    .pure-menu-selected .pure-menu-link:visited
    {
        color: var(--color-dark);
    }
    .pure-menu-link:hover {
        background-color: var(--background-pre-dark);
    }

    .post-card {
        border-color: var(--background-pre-dark);
    }
    .post-title a,
    .post-content a,
    #TableOfContents a
    {
        color: var(--color-dark);
    }

    .post-meta,
    .post-tag,
    .pure-menu-link,
    .translation-menu a,
    #footer a
    {
        color: var(--color-secondary-dark);
    }

    .translation-menu a:hover,
    a.post-tag:hover,
    #footer a:hover
    {
        color: var(--color-dark);
    }

    .poster img,
    .post-content img
    {
        border-color: var(--background-pre-dark);
    }
    .poster:hover img {
        border-color: var(--color-dark);
    }

    .pagination .pure-button {
        background-color: var(--background-pre-dark);
        color: var(--color-dark)
    }
    .pagination .pure-button-active {
        background-color: var(--color-secondary-dark);
    }

    @media (min-width: 48em) {
        .post-list {
            border-color: var(--background-pre-dark);
        }
    }
}
