{{- $pctx := . }}
<div id="footer">
{{- $menus := .Site.Menus.footer }}

{{- range $menus }}
<a
    href="{{- relLangURL .URL -}}"
    {{ with .Params.targetBlank }}target="_blank"{{ end -}}
>
    {{- with .Params.iconClass }}
        <i class="{{- . -}}"></i>
    {{- else }}
        {{- or (i18n .Identifier) .Name | safeHTML -}}
    {{- end }}
</a>
{{- end }}

{{- if .IsTranslated }}
{{- range $i, $p := .AllTranslations }}
    {{- if gt $i 0 }}|{{ end }}
    {{- if eq $p.Lang $pctx.Lang -}}
        {{- $p.Language.LanguageName -}}
    {{- else -}}
        <a href="{{- $p.RelPermalink -}}">{{- $p.Language.LanguageName -}}</a>
    {{- end }}
{{- end }}
{{- end }}
</div>
