{{- $pctx := . -}}
{{- if .IsHome -}}{{ $pctx = .Site }}{{- end -}}
{{- $pages := slice -}}
{{- if $.IsHome -}}
    {{- $pages = where $pctx.RegularPages "Section" "!=" "v" -}}
{{- else -}}
    {{- $pages = $pctx.Pages -}}
{{- end -}}
{{- /* $pages = $pages.ByPublishDate.Reverse */ -}}
{{- $limit := .Site.Config.Services.RSS.Limit -}}
{{- if ge $limit 1 -}}
    {{- $pages = $pages | first $limit -}}
{{- end -}}
{{- $pageSize := $pctx.Params.paginate }}
{{- if $pageSize }}
    {{- $pages = (.Paginate $pages $pageSize).Pages }}
{{- else }}
    {{- $pages = (.Paginate $pages).Pages }}
{{- end }}

{{- $types := slice "single" "double" }}
{{- $ctype := $pctx.Params.column }}
{{- if or (not $ctype) (not (in $types $ctype)) }}
{{- $ctype = "double" }}
{{- end }}
<div class="pure-g post-list column-{{- $ctype -}}">
    {{- range $pages }}
        <article class="pure-u-1 post-card">
            {{- $page := . }}
            {{- $poster := .Resources.Get "poster.webp" }}

            {{- if $poster }}
                {{- $link := .RelPermalink }}
                {{- $target := "_self" }}
                {{- $source := .Params.source }}
                {{- if $source }}
                    {{- $link = $source }}
                    {{- $target = "_blank" }}
                {{- end }}
                <a target="{{- $target }}" href="{{- $link -}}" {{ if $source }}rel="noreferrer"{{ end }}>
                    <figure class="poster poster-mask">
                        <img src="{{- $poster.RelPermalink -}}">
                        {{- if $source }}
                            <i class="fa-solid fa-play"></i>
                        {{- end }}
                    </figure>
                </a>
            {{- end }}

            <div class="post-card__content">
                <a class="post-card__title" href="{{- .RelPermalink -}}">
                    <h2>
                        {{- partial "draft-mark" . }}
                        {{ .Title -}}
                    </h2>
                </a>

                {{- with .Description }}
                    <p>{{- . }}</p>
                {{- end }}
                {{- if .Params.expanded }}
                    <div class="post-content">
                        {{- .Content }}
                    </div>
                {{- end }}
                <p class="post-meta">
                    {{- with .Date }}
                        <span>{{- .Format "2006-01-02" -}}</span>
                    {{- end }}
                    {{- if .Params.tags }}
                        {{ if .Date }},{{ end }}
                        {{- $tags := .GetTerms "tags" }}
                        {{- partial "tags" $tags }}
                    {{- end }}
                </p>
            </div>
        </article>
    {{- end }}
</div>

<div class="pagination-wrapper">
    {{- partial "pagination.html" . }}
</div>
