{{- $pctx := . -}}
{{- if .IsHome -}}{{ $pctx = .Site }}{{- end -}}
{{- $pages := slice -}}
{{- if $.IsHome -}}
    {{- $pages = where $pctx.RegularPages "Section" "!=" "v" -}}
{{- else -}}
    {{- $pages = $pctx.Pages -}}
{{- end -}}
{{- /* $pages = $pages.ByPublishDate.Reverse */ -}}
{{- $limit := .Site.Config.Services.RSS.Limit -}}
{{- if ge $limit 1 -}}
    {{- $pages = $pages | first $limit -}}
{{- end -}}
{{- $pages = (.Paginate $pages).Pages }}

<div class="pure-g cards-grid">
    {{- range $pages }}
        <article class="pure-u-1 cards-unit post-card">
            <div class="post-card__content">
                <a class="post-title__link" href="{{- .RelPermalink -}}">
                    <h2 class="post-title-content">
                        {{- if .Draft }}* {{ end }}
                        {{ .Title -}}
                    </h2>
                </a>
            </div>

            {{- $page := . }}
            {{- $poster := .Resources.Get "poster.webp" }}

            {{- if $poster }}
                {{- $link := .RelPermalink }}
                {{- $target := "_self" }}
                {{- $source := .Params.source }}
                {{- if $source }}
                    {{- $link = $source }}
                    {{- $target = "_blank" }}
                {{- end }}
                <a target="{{- $target }}" href="{{- $link -}}" {{ if $source }}rel="noreferrer"{{ end }}>
                    <figure class="poster poster-mask {{ if $source }}{{ else }}poster-fixed{{ end }}">
                        <img src="{{- $poster.RelPermalink -}}">
                        {{- if $source }}
                            <i class="fa-solid fa-play"></i>
                        {{- end }}
                    </figure>
                </a>
            {{- end }}

            <div class="post-card__content">
                {{- with .Description }}
                    <p>{{- . }}</p>
                {{- end }}
                {{- if .Params.listWithContent }}
                    <div class="post-content">
                        {{- .Content }}
                    </div>
                {{- end }}
                <p>
                    {{- with .Lastmod }}
                        <span>{{- .Format "2006-01-02" -}}</span>
                    {{- end }}
                    {{- if .Params.tags }}
                        {{- $tags := .GetTerms "tags" }}
                        {{- partial "tags" $tags }}
                    {{- end }}
                </p>
            </div>
        </article>
    {{- end }}
</div>

<div class="pagination-wrapper">
    {{- partial "pagination.html" . }}
</div>
