{{- $page := . }}

{{- if gt $page.Paginator.TotalPages 1 }}
<div aria-label="Pagination" class="pagination" role="group">
  {{- partial "partials/inline/pagination" $page }}
</div>
{{- end }}

{{- define "partials/inline/pagination" }}
  {{- with .Paginator }}
    {{- $currentPageNumber := .PageNumber }}

    {{- $slots := 5 }}
    {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
    {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
    {{- if lt (add (sub $end $start) 1) $slots }}
      {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
    {{- end }}

    {{- range $k := seq $start $end }}
      {{- if not (eq $k (int $end)) }}
        {{- if eq $.Paginator.PageNumber $k }}
          <a
            href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}"
            aria-label="Page {{ $k }}"
            aria-current="page"
            class="pure-button pure-button-active"
            role="button">{{ $k }}</a>
        {{- else }}
          <a
            href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}"
            aria-label="Page {{ $k }}"
            class="pure-button"
            role="button">{{ $k }}</a>
        {{- end }}
      {{- end }}
    {{- end }}

    {{- with .Last }}
      {{- if lt $end .TotalPages }}
      ...
      {{- end }}
      {{- if eq $currentPageNumber .PageNumber }}
        <a
          href="{{ .URL }}"
          aria-label="Last"
          aria-current="page"
          class="pure-button pure-button-active"
          role="button">{{ .TotalPages }}</a>
      {{- else }}
        <a
          href="{{ .URL }}"
          aria-label="Last"
          class="pure-button pure-button"
          role="button">{{ .TotalPages }}</a>
      {{- end }}
    {{- end }}

  {{- end }}
{{- end -}}
