{{- $page := . }}

{{- if gt $page.Paginator.TotalPages 1 }}
<div aria-label="Pagination" class="pure-button-group pagination" role="group">
  {{- partial "partials/inline/pagination" $page }}
</div>
{{- end }}

{{- define "partials/inline/pagination" }}
  {{- with .Paginator }}
    {{- $currentPageNumber := .PageNumber }}

    {{- with .First }}
      {{- if ne $currentPageNumber .PageNumber }}
        <a href="{{ .URL }}" aria-label="First" class="pure-button" role="button">&laquo&laquo</a>
      {{- else }}
        <a aria-disabled="true" aria-label="First" class="pure-button pure-button-disabled" role="button">&laquo&laquo</a>
      {{- end }}
    {{- end }}

    {{- with .Prev }}
        <a href="{{ .URL }}" aria-label="Previous" class="pure-button" role="button">&laquo</a>
    {{- else }}
        <a aria-disabled="true" aria-label="Previous" class="pure-button pure-button-disabled" role="button">&laquo</a>
    {{- end }}

    {{- $slots := 5 }}
    {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
    {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
    {{- if lt (add (sub $end $start) 1) $slots }}
      {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
    {{- end }}

    {{- range $k := seq $start $end }}
      {{- if eq $.Paginator.PageNumber $k }}
        <a aria-current="page" aria-label="Page {{ $k }}" class="pure-button pure-button-active" role="button">{{ $k }}</a>
      {{- else }}
        <a href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}" aria-label="Page {{ $k }}" class="pure-button" role="button">{{ $k }}</a>
      {{- end }}
    {{- end }}

    {{- with .Next }}
        <a href="{{ .URL }}" aria-label="Next" class="pure-button" role="button">&raquo</a>
    {{- else }}
        <a aria-disabled="true" aria-label="Next" class="pure-button pure-button-disabled" role="button">&raquo</a>
    {{- end }}

    {{- with .Last }}
      {{- if ne $currentPageNumber .PageNumber }}
        <a href="{{ .URL }}" aria-label="Last" class="pure-button" role="button">&raquo&raquo</a>
      {{- else }}
        <a aria-disabled="true" aria-label="Last" class="pure-button pure-button-disabled" role="button">&raquo&raquo</a>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}
