{{- $pctx := . -}}

{{- $pages := partial "functions/getpages.html" $pctx }}

{{- $pageSize := $pctx.Params.paginate }}
{{- if $pageSize }}
    {{- $pages = (.Paginate $pages $pageSize).Pages }}
{{- else }}
    {{- $pages = (.Paginate $pages).Pages }}
{{- end }}

{{- $columnClass := "" }}
{{- if $pctx.Param "doubleColumns" }}
    {{- $columnClass = "double-columns" }}
{{- end }}
<div class="post-list {{ $columnClass -}}">
    {{- range $pages }}
        <article class="post-card">
            {{- partial "page.html" (dict "page" . "type" "list") }}
        </article>
    {{- end }}
</div>

{{- if gt .Paginator.TotalPages 1 }}
<div class="pagination-wrapper">
    {{- partial "pagination.html" . }}
</div>
{{- end }}
