{{- $page := . }}

{{- if $page.IsPage }}
<h1 class="post-title">
    {{- if $page.Draft }}* {{ end }}
    {{ $page.Title -}}
</h1>
<p class="post-meta">
    {{- with $page.Lastmod }}
        <span>更新: {{ .Format "2006-01-02" }}</span>
    {{- end }}
    {{- with $page.Date }}
        <span>发布: {{ .Format "2006-01-02" }}</span>
    {{- end }}
    {{- if $page.Params.tags }}
        {{- range $tag_index, $tag := $page.GetTerms "tags" }}
            {{- if ne $tag_index 0 }},{{- end }}
            <a class="post-tag" href="{{$tag.Permalink}}">{{- $tag.Title -}}</a>
        {{- end }}
    {{- end }}
</p>
{{- end }}

{{- with $page.Resources.Get "banner.webp" }}
    {{- $banner := . }}
    {{- $source := $page.Params.source }}
    {{- if $source }}
        <figure class="post-banner post-banner-mask">
            <a target="_blank" href="{{- $source -}}" rel="noreferrer">
                <img src="{{- $banner.RelPermalink -}}">
                <i class="fa-solid fa-play"></i>
            </a>
        </figure>
    {{- else }}
        <figure class="post-banner">
            <img src="{{- $banner.RelPermalink -}}">
        </figure>
    {{- end }}
{{- end }}

<div class="post-content">
    {{- $page.Content }}
</div>