<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "meta.html" . }}
    {{- partial "favicon.html" . }}

    {{- $css := slice }}
    <!-- https://purecss.io/ -->
    {{- $css = $css | append (resources.Get "purecss-custom/base.css") }}
    {{- $css = $css | append (resources.Get "purecss-custom/buttons.css") }}
    {{- $css = $css | append (resources.Get "purecss-custom/menus.css") }}
    {{- $css = $css | append (resources.Get "purecss-custom/tables.css") }}
    <!-- main.css -->
    {{- $css = $css | append (resources.Get "main.css") }}
    {{- $css = $css | append (resources.Get "syntax-light.css") }}
    {{- $css = $css | append (resources.Get "syntax-dark.css") }}
    <!-- packing css -->
    {{- $css = $css | resources.Concat "bundle.css" }}
    {{- $css = $css | resources.Minify }}
    <link rel="stylesheet" href="{{- $css.RelPermalink -}}">

    {{- block "css" . }}{{- end }}
</head>
<body>

<div id="header-wrapper">
    {{ partial "header.html" . }}
</div>

<div id="main-wrapper">
    <div id="main">
        {{ block "main" . }}{{ end }}
    </div>
</div>

<div id="footer-wrapper">
    {{ partial "footer.html" . }}
</div>

{{- block "js" . }}{{- end }}
</body>
</html>
